.root {
    padding: 16px;
}

.header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
}

.content .select {
    min-width: 150px;
    width: 170px;
    margin-right: 16px ;
}
